<div class="container-fluid">
  <div class="row">

    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 no-pad">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="/"><strong>FONCIERGE</strong></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><strong><span class="glyphicon glyphicon-search"></span></strong></a>
            </li>
          </ul>
        </div> <!-- end of navbar container-fluid -->
      </nav>
    </div>

    <section id="market-index" class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
      <div class="col-sm-3 text-center">S&P 500 2,126.41 -6.63</div>
      <div class="col-sm-3 text-center">NDAQ 4,805.59 -30.85</div>
      <div class="col-sm-3 text-center">DOW 18,161.19 -8.49</div>
      <div class="col-sm-3 text-center">VIX 16.19 +0.83</div>
    </section>

    <article id="main" class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">

      <section id="market-stats">

      </section>

      <section id="market-news">
        <%= render '/partials/google', google_news: @google_news %>
        <%= render '/partials/fool', fool_news: @fool_news %>
        <%= render '/partials/street', street_news: @street_news %>
        <%= render '/partials/zinga', zinga_news: @zinga_news %>
        <%= render '/partials/insider', insider_news: @insider_news %>
      </section>

    </article>

    <footer class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
      <p class="text-center">&copy; Pratik Shah</p>
    </footer>

  </div>
</div>

